body{
  background: #fafafa;
}

.alert-light{
  border-color: #bfbfbf
}

.form-section{
  background: #fff;
  padding: 20px;
  border: 1px solid silver;
  box-sizing: border-box;
  width: 100%;
  -webkit-box-shadow: 0 2px 3px 0 rgba(74, 74, 74, .21);
  -moz-box-shadow: 0 2px 3px 0 rgba(74, 74, 74, .21);
  box-shadow: 0 2px 3px 0 rgba(74, 74, 74, .21);
}

.form-section > h2{
  color: #b38a22;
  margin-bottom: 10px;
}
