{% extends 'blog/main.html' %}
{% block main_section %}
  <h2>Страница с контактами</h2>
  <hr>
    <p><b>вКонтакте</b></p>
    <a href="https://vk.com/id177562188">
      <button class="btn btn-warning">Связаться со мной в ВК</button>
    </a>
  <hr>
    <p><b>Почта mail.ru</b></p>
    <a href="https://e.mail.ru/compose/">
      <button class="btn btn-warning">Написать мне на почту</button>
    </a>
  <hr>
    <p><b>GitHub</b></p>
    <a href="https://github.com/JastSuper">
      <button class="btn btn-warning">Посмотреть мой github</button>
    </a>
  <hr>
    <p><b>Почта gmail.com</b></p>
    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new">
      <button class="btn btn-warning">Написать мне на почту</button>
    </a>
  <hr>
    <p><b>---------------</b></p>
    <a href="">
      <button class="btn btn-warning">Пока что не рабочая кнопка</button>
    </a>
  <hr>
    <p><b>---------------</b></p>
    <a href="">
      <button class="btn btn-warning">Пока что не рабочая кнопка</button>
    </a>
  <hr>
    <p><b>---------------</b></p>
    <a href="">
      <button class="btn btn-warning">Пока что не рабочая кнопка</button>
    </a>
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>Мой GitHub</b></h3>
  <img src="https://media.proglib.io/wp-uploads/-000//1/0*Q8orlqiDox0yJG2g.jpg" class="img-thumbnail">
  <p>В моем GitHub'е находятся проекты сделаные в основно на языке программирования Python. Помимо этого есть свёрстаный сайт по макету для знакомства с HTML5 и CSS3.</p>
  <a href="https://github.com/JastSuper" target = "_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock aside_news_section %}
