{% extends 'blog/main.html' %}
{% block main_section %}
  <div class="alert alert-light">
    <a href="{% url 'blog-home' %}">Назад</a>
    <h1>{{ object.title }}</h1>
    <p>{{ object.text|safe }}</p>
    <div class="row">
      <div>
        {% if object.author.profile.img %}
          <img src="{{ object.author.profile.img.url }}" alt="{{ object.author }}" class="user_image">
        {% else %}
          <img src="/pictures/default.jpg" alt="{{ object.author }}" class="user_image">
        {% endif %}
      </div>
      <div class="mt-2">
        <span class="text-muted"><b>Дата:</b> {{ object.date|date:"d E Y в H:i:s" }}</span>
        <p><b>Автор:</b> <a href="{% url 'user-news' object.author %}">{{ object.author }}</a></p>
      </div>
    </div>
    {% if object.author == user %}
      <hr>
      <a href="{% url 'news-update' object.id %}" class="btn btn-info">Обновить пост</a>
      <a href="{% url 'news-delete' object.id %}" class="btn btn-danger">Удалить пост</a>
    {% endif %}
  </div>
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>Мой GitHub</b></h3>
  <img src="https://media.proglib.io/wp-uploads/-000//1/0*Q8orlqiDox0yJG2g.jpg" class="img-thumbnail">
  <p>В моем GitHub'е находятся проекты сделаные в основно на языке программирования Python. Помимо этого есть свёрстаный сайт по макету для знакомства с HTML5 и CSS3.</p>
  <a href="https://github.com/JastSuper" target = "_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock aside_news_section %}
