{% extends 'blog/main.html' %}
{% block main_section %}
  <div class="form-section">
    <h2>Ваш пароль отправлен вам на почту</h2>
    перейдите по ссылке в письме для смены пароля
    <h6>пимьмо могло попасть в спам!</h6>
  </div>
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>Мой GitHub</b></h3>
  <img src="https://media.proglib.io/wp-uploads/-000//1/0*Q8orlqiDox0yJG2g.jpg" class="img-thumbnail">
  <p>В моем GitHub'е находятся проекты сделаные в основно на языке программирования Python. Помимо этого есть свёрстаный сайт по макету для знакомства с HTML5 и CSS3.</p>
  <a href="https://github.com/JastSuper" target = "_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock aside_news_section %}
